@import './LightScheme.css';
@import './Home.css';
@import './NoutFound.css';
@import './SinglePage.css';
@import './SearchPage.css';

.MainContent {
  min-height: 70vh;
}

.Header {
  padding-bottom: 100px;
}

.Footer{
  padding: 15px 0;
}

.btn-poster {
  font-size: .9rem; 
  border-radius: 0;
  background-color: #9C27B0;
  border-color: #9C27B0;
  color: #fff;
}

.btn-poster:hover,
.btn-poster:focus,
.btn-poster:active {
  color: #fff;
}

.text-date {
  color: #FFC107;
}

.bg-black {
  background-color: #000;
}

.btn-play {
  padding: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #e6c92a;
  text-align: center;
  line-height: 5px;
}

.btn-play i {
  font-size: 12px;
}